* {
    box-sizing: border-box;
}

.topdivmobile {
    padding-bottom: 1.8%;
    padding-left: 6%;
    padding-right: 6%;
}

.seconddivmobile {
    border: black solid 8px;
    opacity: 0.8;
    background: grey;
    border-radius: 15%;
}
.postid {
    text-align: center;
    background: white;
    font-size: 20px;
    font-family: Ariel;
}
.post {
    text-align: center;
    opacity: 0.55;
    font-size: 32px;
    border: black solid 3px;
    background: black;
    color: silver;
    border-radius: 5%;
}
.postender {
    font-size: 95.5%;
    background: white;
    color: black;
    border-radius: 12px;
}
.buttontrythree {
    background: white;
    opacity: 0.65;
    width: 100%;
    margin: auto;
    font-size: 9.5px;
}

.buttontrythreeend {
    display: none;
    margin: auto;
    width: 75%;
    background: white none repeat scroll 0% 0%;
    opacity: 0.65;
    font-size: 9.5px;
}
.directorclass {
    width: 75%;
    margin: auto;
    text-align: center;
    border: black solid 3px;
    border-radius: 15px;
    background-color: white;
    font-size: 16px;
    opacity: 0.75;
}

.pelemformobile {
    display: none;
    padding-bottom: 85%;
    width: 95%;
    font-weight: bold;
    overflow-wrap: break-word;
    border: 9px solid black;
    opacity: 0.82;
    overflow: auto;
    background: grey none repeat scroll 0% 0%;
    border-radius: 15px;
    font-size: 27.5pt;
    margin: auto;
    color: black;
    text-decoration: none;
}

.tareamob {
    width: 95%;
    opacity: 0.82;
    padding-bottom: 23.5%;
    background: grey none repeat scroll 0% 0%;
    height: auto;
    display: block;
}

.topdiv {
    padding-left: 20.5%;
    padding-right: 20.5%;
}

.displayclassmobile {
    border: 3px solid black;
    display: block;
    text-align: center;
    margin: auto;
    background: white none repeat scroll 0% 0%;
    border-radius: 13px;
    font-size: 25px;
    width: 55.5%;
    opacity: 0.6;
}

.seconddiv {
    border: black solid 8px;
    opacity: 0.8;
    background: grey;
    border-radius: 15%;
}

.displayelem {
    border: 3px solid black;
    display: block;
    text-align: center;
    margin: auto;
    background: grey none repeat scroll 0% 0%;
    border-radius: 15%;
    font-size: 35px;
    width: 45%;
    opacity: 0.6;
}

.silentdata {
    top: -1000000000000000000000000000000000px;
    opacity: 0;
    display: none;
    font-size: 0.1px;
    background: white;
    color: white;
}

.buttontry {
    border: black solid 4px;
    border-radius: 10px;
    opacity: 0.75;
    font-family: Hero;
    font-size: 10pt;
}
.textaream {
    width: 70%;
    opacity: 0.82;
    background: grey none repeat scroll 0% 0%;
    height: 45%;
    overflow: auto;
}
.pelemtext {
    width: 75%;
    font-weight: bold;
    height: 65%;
    padding-top: 10px;
    background: grey none repeat scroll 0% 0%;
    overflow-wrap: break-word;
    overflow: auto;
    border: 9px solid black;
    border-radius: 2.5%;
    font-size: 35px;
    opacity: 0.82;
    margin: auto;
    color: red;
    text-decoration: none;
    font-family: Ariel;
}
.mobilebuttontry {
    border: black solid 2px;
    border-radius: 10px;
    opacity: 0.75;
    font-family: Hero;
    font-size: 9.5pt;
}
.selector {
    border: black solid 4px;
    border-radius: 10px;
    width: 38%;
    opacity: 0.75;
    font-size: 16pt;
}
.textarea {
    margin-left: auto;
    margin-right: auto;
    border: black solid 9px;
    border-radius: 15px;
    font-size: 35pt;
    opacity: 0.75;
}
.mobiletextarea {
    margin-left: auto;
    margin-right: auto;
    border: black solid 4px;
    border-radius: 15px;
    font-size: 20px;
    opacity: 0.75;
}

.column {
    margin: auto;
    float: right;
    width: 75%;
    word-wrap: break-word;
    height: 35%;
}
.column1 {
    margin: auto;
    float: left;
    text-align: center;
    width: 32%;
    padding: 10px;
    height: 30%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
/*
input[type="text"] {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}

#alertBox{
 border:black solid 4px; 
 border-radius:10px; 
 opacity: 0.75; 
background:white;
color:black;
 font-size: 16pt;   
}
*/

body {
    background-image: url("https://xplosivex.github.io/ConfessionBooth/Pagefiles/Images/PageBackground.jpg");
}
@font-face {
    font-family: Almond;
    src: url(https://xplosivex.github.io/ConfessionBooth/Pagefiles/Fonts/AlmondCream.ttf);
}
@font-face {
    font-family: Hero;
    src: url(https://xplosivex.github.io/ConfessionBooth/Pagefiles/Fonts/Hero.ttf);
}
@font-face {
    font-family: Academy;
    src: url(https://xplosivex.github.io/ConfessionBooth/Pagefiles/Fonts/Academy.ttf);
}

@font-face {
    font-family: Antique;
    src: url(https://xplosivex.github.io/ConfessionBooth/Pagefiles/Fonts/Antique.otf);
}

@font-face {
    font-family: Broadway;
    src: url(https://xplosivex.github.io/ConfessionBooth/Pagefiles/Fonts/Broadway.ttf);
}

@font-face {
    font-family: Iniya;
    src: url(https://xplosivex.github.io/ConfessionBooth/Pagefiles/Fonts/Iniya.otf);
}

@font-face {
    font-family: Magnilda;
    src: url(https://xplosivex.github.io/ConfessionBooth/Pagefiles/Fonts/Magnilda.ttf);
}

@font-face {
    font-family: Mandor;
    src: url(https://xplosivex.github.io/ConfessionBooth/Pagefiles/Fonts/Mandor.otf);
}
